APP_NAME=NusaMarket
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=nusamarket
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_CONNECTION=log
QUEUE_CONNECTION=database
SESSION_DRIVER=file
CACHE_STORE=file

BROADCAST_CONNECTION=log